ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex   ;
}

a {
    text-decoration: none;
    color: white;
}

.toolbar-spacer {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
}

.toolbar-spacer span {
    cursor: pointer;
}

.button {
    transition: 300ms all;
}
.button:hover button:focus {
    scale: 1.1;
    cursor: pointer;
    color: white;
    background-color: rgb(60, 60, 60);
}