<mat-toolbar color="primary">
    <span>
        <a class="link" routerLink="/">
            <fa-icon [icon]="faHouse"></fa-icon>
        </a>
    </span>
    <span class="toolbar-spacer" >
        <span routerLink="/">Recepti.si</span>
    </span>
    <ul>
        <li *ngIf="userIsAuthenticated">
            <a mat-button routerLink="/create" routerLinkActive="mat-accent">
                Nova objava
                <fa-icon [icon]="faPlus"></fa-icon>
            </a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">Prijava</a>
        </li>
        <li *ngIf="!userIsAuthenticated">
            <a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">Registracija</a>
        </li>
        <li *ngIf="userIsAuthenticated">
            <button mat-button (click)="onLogout()">
                Odjava
                <fa-icon [icon]="faLogout"></fa-icon>
            </button>
        </li>
    </ul>
</mat-toolbar>