<div id="flex">
    <mat-card class="post-view">
        <mat-grid-list cols="5">
            <mat-grid-tile colspan="3" class="post-image" style="background-image: url('{{ post.imagePath }}');">
            </mat-grid-tile>
            <mat-grid-tile colspan="2" >
                <mat-card-title class="post-title">{{ post.title }}</mat-card-title>
            </mat-grid-tile>
        </mat-grid-list>
        <mat-divider></mat-divider>
        <mat-card-content>
            <p class="post-content">
                {{ post.content }}
            </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-content>
            <div class="table-container">
                <mat-card-title>Sestavine</mat-card-title>
                <table mat-table [dataSource]="this.ingredients.ingredients">
                <ng-container matColumnDef="ingredient">
                  <th class="ingredient-name-title" mat-header-cell *matHeaderCellDef>Sestavina</th>
                  <td class="ingredient-name" mat-cell *matCellDef="let ingredient">{{ ingredient.ingredient }}</td>
                </ng-container>
                <ng-container matColumnDef="quantity">
                  <th class="ingredient-name-title" mat-header-cell *matHeaderCellDef>Koli&ccaron;ina</th>
                  <td class="ingredient-name" mat-cell *matCellDef="let ingredient">{{ ingredient.quantity }}</td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="['ingredient', 'quantity']"></tr>
                <tr class="ingredient-row" mat-row *matRowDef="let row; columns: ['ingredient', 'quantity']"></tr>
                </table>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
    </mat-card>
    <mat-card class="post-view">
        <mat-card-content>
            <mat-card-title>Postopek</mat-card-title>
                <div class="process-time-and-difficulty">
                    <mat-card-content>
                        <span class="process-time">Te&zcaron;avnost</span>
                        <div *ngIf="this.process.difficulty == 1">
                            <fa-icon [icon]="faSpoon"></fa-icon>
                        </div>
                        <div *ngIf="this.process.difficulty == 2">
                            <fa-icon [icon]="faSpoon"></fa-icon>
                            <fa-icon [icon]="faSpoon"></fa-icon>
                        </div>
                        <div *ngIf="this.process.difficulty == 3">
                            <fa-icon [icon]="faSpoon"></fa-icon>
                            <fa-icon [icon]="faSpoon"></fa-icon>
                            <fa-icon [icon]="faSpoon"></fa-icon>
                        </div>
                    </mat-card-content>
                    <mat-card-content>
                        <span class="process-time">Priprava</span>
                        <p class="process-time-number"><fa-icon [icon]="faClock"></fa-icon> {{ this.process.timeToPrepare }} minut</p>
                    </mat-card-content>
                    <mat-card-content>
                        <span class="process-time">Kuhanje</span>
                        <p class="process-time-number"><fa-icon [icon]="faClock"></fa-icon> {{ this.process.timeToCook }} minut</p>
                    </mat-card-content>
                </div>
                <div class="process-steps">
                    <div class="step" *ngFor="let step of this.process.steps; let i = index">
                        <span class="step-number">{{ i + 1 }}</span> 
                        <p class="step-text">{{ step.step }}</p>
                    </div>
                </div>
        </mat-card-content>
    </mat-card>
</div>