mat-form-field,
textarea {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

input[type="file"] {
  visibility: hidden;
}

.image-preview {
  height: 5rem;
  margin: 1rem 0;
}

.image-preview img {
  height: 100%;
}

mat-grid-list {
  width: 50%;
}

mat-toolbar {
  background: transparent;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-divider {
  margin-bottom: 1.5rem;
}

.preview {
  display: flex;
  align-items: center;
  padding: 1.8rem;
}

.title {
  font-size: 2rem;
}

.title::first-letter {
  text-transform: uppercase;
}

mat-form-field {
  margin-top: 0.5rem;
}

.step-form {
  display: flex;
  align-items: center;
}