/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    
}

#background {
    background-size: 5%;
    position: fixed;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    min-width: 1200px;
    opacity: 0.10;
    /* animation: pan 180s linear infinite; */
    will-change: background-position;
    background-image: url("./hat.svg");
}

@keyframes pan {
    0% {
        transform: translate(0%, 0%);
    }

    100% {
        transform: translate(100%, 0%);
    }
}
